@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  object-fit: contain;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: rgb(0, 174, 255);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 20px 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

header .logo {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: 700;
}

header ul {
  display: flex;
  gap: 50px;
}

header li {
  list-style: none;
}

.active {
  border-bottom: 3px solid rgb(255, 238, 0);
  color: rgb(255, 238, 0);
}

nav a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  padding: 0 2px 6px 2px;
  text-transform: uppercase;
}

header .contact {
  text-decoration: none;
  background-color: rgb(0, 174, 255);
  padding: 5px 15px;
  color: #000;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  text-transform: uppercase;
}

#home {
  height: 100vh;
  width: 100%;
  padding-top: 99px;
}

#home .image-overlay {
  height: calc(100vh - 99px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

header, #home, #projects, #about, #contact {
  background-color: #000;
}

#about {
    height: 100vh;
    padding: 99px 70px;
}

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 99px 70px;
  gap: 20px;
  overflow: hidden;
}

#projects h2 {
  font-size: 45px;
  letter-spacing: 7px;
}

#projects p {
  font-size: 19px;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.right-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-col img {
  width: 70%;
  border-radius: 3px;
  transition: all 0.5s ease-in;
}

.right-col img:hover {
  box-shadow: 0px -7px 48px 11px rgba(224,214,18,0.75);
  -webkit-box-shadow: 0px -7px 48px 11px rgba(224,214,18,0.75);
  -moz-box-shadow: 0px -7px 48px 11px rgba(224,214,18,0.75);
  transform: scale(1.05) rotate(10deg);
}

.actions {
  padding: 20px;
}

.actions a {
  text-decoration: none;
  background-color: rgb(0, 174, 255);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #000;
  transition: background-color 0.5s ease;
}

.actions a:hover, header .contact:hover {
  background-color: rgba(0, 174, 255, 0.8);
}

.live {
  padding: 10px 19.5px;
}
